.app{
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  height: 100vh;
}

.app.light{
  background-color: white;
  color: black;
}

.app.dark{
  background-color: black;
  color: white;
}

.app.header button{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}